<body>
    <div class="header">
        <img src="logo__bl.png" alt="Logo UTVCO">
        <div>
            <h1>Centro de Bachillerato Tecnológico Industrial y de Servicios No. 248</h1>
            <h2>"Nicolás Bravo"</h2>
        </div>
        <img src="logo__bl.png" alt="Logo UTVCO">
    </div>
    <div class="container">
        <div class="sidebar">
            <div class="btn" (click)="showLogin('Personal CBTIS')">
                <img src="personal.png" alt=""><br>
                Personal CBTIS
            </div>
            <div class="btn" [routerLink]="['/cbtis248Ficha/menu']">
                <img src="estudiante.png" alt=""><br>
                Aspirantes
            </div>
        </div>
        <div class="content1" *ngIf="loginVisible === false">
            <h1>Bienvenido al sistema de Servicios Escolares </h1>
            <h1>Para tramitar tu ficha selecciona la opción aspirantes </h1>
            <img class="logoBienvenido" src="logoCBTis248.png" alt="">
        </div>
        <div class="content">
            <div class="login-box" *ngIf="loginVisible">
                <h2>{{ userType }}</h2>
                <input type="text" placeholder="Matrícula">
                <input type="password" placeholder="Contraseña">
                <button>Ingresar</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <h3>Contáctanos</h3>
        <p>Carretera Federal 131, Km. 14, Barrio de San José, Zimatlán de Álvarez, Oaxaca C.P. 71200</p>
        <p>Teléfono: (951) 571 56 81</p>
        <p>Correo: {{correoCbtis}}</p><br>
        <a href=""><i class="bi bi-facebook custom-icon"></i></a>
        <a href=""><i class="bi bi-tiktok custom-icon"></i></a>
        <p>Nuestros colaboradores:</p>
        <p>Universidad Tecnológica de los Valles Centrales de Oaxaca</p>
        <img src="utvco.png" alt="">
    </div>
</body>
