<app-components></app-components>
<router-outlet></router-outlet>
<div class="content">
    <!-- Aquí va el contenido principal de la página -->
    <div class="content">
        <h2><i class="bi bi-clipboard-data-fill"></i> Estadisticas <i class="bi bi-clipboard-data-fill"></i></h2>
    
        <!-- Contenedor de las cards -->
        <div class="cards-container">
            <div class="card" *ngFor="let especialidad of especialidades">
                <h3><span><i class="bi bi-layers-fill"></i> Especialidad:</span> {{ especialidad.nombre }}</h3>
                <p><strong><i class="bi bi-app-indicator"></i> Fichas emitidas:</strong> {{ especialidad.alumnos }}</p>
                <p><strong><i class="bi bi-easel-fill"></i> Fichas disponibles:</strong> {{ especialidad.pendientes }}</p>
            </div>
            <div class="card" *ngFor="let usuario of usuarios">
                <h3> <i class="bi bi-person-bounding-box"></i> Perosnal administrativo</h3>
                <p><strong><i class="bi bi-patch-minus"></i> administrativos:</strong> 6</p>
                <p><strong><i class="bi bi-patch-minus"></i> prefectos:</strong> 6</p>
            </div>
        </div>
    
        <!-- Contenedor de la gráfica -->
        <div class="chart-container">
            <canvas id="especialidadesChart"></canvas>
        </div>
    </div>
    
</div>