<body>
    <header>
        <div class="logo-container">
            <img src="logoCBTis248.png" alt="Logo CBTis 248">
            <h1>CBTis 248 Zimatlán de Álvarez</h1>
        </div>
        <p class="fecha">Viernes, 14 de Febrero de 2025</p>
    </header>
    <main>
        <div class="registro" [routerLink]="['/cbtis248Ficha/solicitud']">
            <h2>Forma parte del CBTis 248</h2>
            <p>Tramita tu ficha aquí</p>
        </div>
        <p>Si ya cuentas con tu registro, ingresa aquí.</p>
        <button class="acceder" (click)="openModal()">Acceder</button>
    </main>

    <div *ngIf="isVisible" class="modal-overlay">
        <div class="modal-content">
            <div class="logo-container">
                <img  src="logoCBTis248.png" alt="Mascota CBTis 248">
                <h2>Iniciar Sesión</h2>
                <button (click)="closeModal()"><i class="bi bi-x-circle"></i></button>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <label for="usuario">Usuario</label>
                <input type="text" id="usuario" formControlName="usuario" placeholder="Ingrese su Usuario">

                <label for="password">Contraseña</label>
                <input type="password" id="password" formControlName="contrasena" placeholder="Ingrese su contraseña">

                <button class="ingresar" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
            </form>

            <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
        </div>
    </div>

</body>